body {
    background: #333;
}

.clock {
    font-size: 3em;
    text-align: center;
    margin: 20% auto;
    color: yellow;
    font-family: arial;
}
.clock span {
    padding: 15px;
    background: rgb(94, 93, 93);
}